

<html>
<head>
    <link href="./visionimg/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="./visionimg/shards.min.css" rel="stylesheet" type="text/css">
		<link href="./visionimg/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="breadcrumb">
	  <h1 class="nav-brand">Vision</h1>
	  {{if .ParentAlbum }}
	  	<ol class="breadcrumb bg-dark">
		  	<li class="breadcrumb-item"><a href="../index.html">{{.ParentAlbum}}</a></li>
    		<li class="breadcrumb-item active" aria-current="page">{{.Name}}</li>
 		 </ol>
	  {{end}}
	</nav> 


	{{ $length := len .SubAlbum }} {{ if gt $length 0 }}
		<section id="subAlbum" >
			{{ range .SubAlbum}}{{$subName := .Name}}
			
				<div class="card" style="width:400px">
				{{ if eq (index .AlbumImages 0).Name "placeholder" }}
					<img class="card-img-top" src="./{{$subName}}/visionimg/album-placeholder.jpg" alt="Card image">
				{{ else }}
					<img class="card-img-top" src="./{{$subName}}/visionimg/thumb_{{(index .AlbumImages 0).Name}}" alt="Card image">
				{{ end }}
					<div class="card-body">
						<h4 class="card-title">{{.BetterName}}</h4>
						<p class="card-text">{{.ImageCount}} Photos</p>
						<a href="./{{.Name}}/index.html" class="stretched-link"></a>
					</div>
				</div>
			
			{{end}}
		</section>
	{{end}}


	<section id="photos" >
		{{range .AlbumImages}}
				<a href=./{{.Name}}><img class="img" src="./visionimg/resize_{{.Name}}"/></a>
		{{end}}
	</section>


</body>

</html>
